.left-footer .language {
    float: left;
}

#map {
    height: 550px;
}

.domino_register_1 .form-wrap .createuserbutton {
    margin-top: 1rem;
    background: #e31837;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .75rem;
    font-weight: 900;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase
}
@media (max-width:768px) {
  .domino-nav-1 .about-nav-controls span
    {
        height: 2.65rem;
    }
}

@media (min-width:768px) {

    .domino_register_1 .form-wrap .createuserbutton {
        height: 40px;
        margin-top: 2rem;
        font-size: .875rem
    }
}

[id*=popup_] {
    padding: 0
}

[id*=popup_] .fancybox-close-small{
    background: #fff;
}

[id*=popup_] img {
    max-width: 100%;
}

@media (max-width: 992px) {
    [id*=popup_] .desktop {
        display: none
    }
}

@media (min-width: 992px) {
    [id*=popup_] .mobile {
        display: none
    }
}

.wait {
    margin-top: 150px;
}

.idk {
    max-width: 345px;
    vertical-align: top;
    background: url(../img/popup_bg_1.png) repeat-y;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 100%;
    background-position: top left;
    text-align: left;
    color: #fff;
    padding: 21px;
}
.btn {
    margin-right: 5px;
    margin-top: 5px;
}

@media (min-width:576px){
    .idk{
        max-width: 36.344rem;
    }
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.card .card-footer, .card .card-header {
    background-color: transparent;
    padding: 0;
    padding-top: 0px;
}

.card .card-header {
    border-bottom: 0;
    border-radius: 0;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs > .nav-item > .nav-link:hover {
    background-color: transparent;
}
.nav-tabs > .nav-item > .nav-link {
    color: #888;
    margin: 0 5px 0 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.card .nav-tabs {
    border-top-right-radius: .1875rem;
    border-top-left-radius: .1875rem;
}
.nav-tabs {
    border: 0;
    padding: 15px .7rem;
}

.text-center {
    text-align: center !important;
}
.justify-content-center {
    justify-content: center !important;
}

.nav-tabs > .nav-item > .nav-link.active {
    background: #033A56 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFF !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.modal-content .modal-header {
    border-bottom: none;
    padding: 24px 24px 0;
}

.a-delete {
    color: red;
}
.a-close {
    color: #5A6268;
}



